body {
    background-color: rgb(243, 234, 223);
    font-family: sans-serif;
    padding: 15px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding:2%;
}

a {
    text-decoration: none;
    color: rgb(218, 122, 138);
    font-weight: bold;
    font-size: 20px;
    padding: 15px;
}

.information__container {
    display: flex;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}

.picture__collage{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 5vw);
    padding-bottom: 7%;
}

.picture__collage img {
    width: 100%;
}

.picture__item1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.picture__item2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.picture__item3 {
    grid-column-start: 3.5;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}
.picture__item4 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
}

.contact__form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3%;
  }