body {
    background-color: rgb(243, 234, 223);
    font-family: sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding:2%;
}

a {
    text-decoration: none;
    color: rgb(218, 122, 138);
    font-weight: bold;
    font-size: 20px;
    padding: 15px;
}

.information__container {
    display: flex;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.picture__collage{
    display: grid;
    grid-template-columns: 0.1fr 0.1fr;
    grid-template-rows: 0.1fr 0.1fr 0.1fr;
}

.contact__form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3%;
  }